body {
  background-color: grey;
}

.nav-center {
  display: flex;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  padding: 10px;
  color: lightblue;
}
